@use '../commons/vars' as vars;

/* #head {
    display: none;
}
 */
.header-texte-boutons-gauche {
    padding-top: vars.$headerHeight;
    height: 100%;
    position: relative;
    background-color: vars.$beige;


    #breadcrumbs {
        position: absolute;
        top: 12px;
        left: 0;



        a {
            text-decoration: underline;
            text-underline-offset: 3px;
        }
    }



    .header-content {
        width: vars.$width;
        max-width: vars.$maxWidth;
        display: flex;
        position: relative;
        margin: auto;
        justify-content: space-between;
        height: 100%;


        @media (max-width: 1440px) {
            max-width: vars.$maxWidth1440;
        }

        @media (max-width: 980px) {
            flex-direction: column-reverse;
        }

        .left-col {
            width: 800px;
            z-index: 1;

            min-height: 450px;

            @media (max-width: 1440px) {
                min-height: calc(450px*0.8);

            }

            @media (max-width: 980px) {
                width: 100%;
            }

            .content {
                margin-top: 250px;
                position: relative;

                background-color: vars.$beige;
                padding: 50px 50px 50px 0px;
                border-radius: 30px;

                max-width: 800px;

                @media (max-width: 1440px) {
                    margin-top: 200px;
                }

                @media (max-width: 980px) {
                    margin-top: 0px;
                    margin: auto;
                }

                .titre {
                    h1 {
                        font-size: 55px;
                        font-family: 'Helvetica';
                        font-weight: 700;
                        margin-bottom: 20px;
                        margin-top: 0;

                        @media (max-width: 1440px) {
                            font-size: calc(50px*0.8);
                            margin-bottom: 10px;

                        }

                    }
                }

                .sous-titre {
                    font-size: 25px;
                    font-family: 'Helvetica';
                    font-weight: 700;
                    margin-bottom: 40px;

                    @media (max-width: 1440px) {
                        font-size: calc(30px*0.8);
                    }
                }

                .boutons {
                    display: flex;
                    margin-top: 30px;

                    @media (max-width: 980px) {
                        flex-direction: column;
                    }

                    .bouton-container {
                        margin-right: 30px;

                        @media (max-width: 980px) {
                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }

        .right-col {
            display: flex;
            width: 100%;
            overflow: hidden;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 0;
            justify-content: flex-end;
            margin-top: 80px;

            @media (max-width: 980px) {
                position: relative;
                justify-content: center;
            }


            .post-thumbnail-container {
                max-height: 450px;
                width: 100%;
                max-width: 800px;
                height: 100%;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 20px;

                @media (max-width: 1440px) {
                    max-height: calc(400px*0.8);
                    max-width: calc(700px*0.8);

                }

                img {
                    object-fit: cover;

                }
            }

            @media (max-width: 980px) {
                width: 100%;
            }

            img {
                object-fit: cover;
            }
        }


    }

}