.events-list {
    padding-left: 0;
    border-bottom: 0;

    .event-col {}

    .event-item {
        display: flex;
        gap: 2rem;
        width: 100%;
        padding: 1rem 3rem;
        position: relative;

        &:nth-last-child(1) {
            border-bottom: 0;
        }

        .col-left {
            display: flex;
            width: 50%;
            gap: 1rem;

            .event-col--media {
                width: 70%;

                .event-thumb {
                    width: 100%;

                    img {
                        width: 100%;
                        height: 170px;
                        object-fit: cover;
                        border-radius: 20px;
                    }
                }
            }

            .event-col--meta {
                width: 30%;
                display: flex;
                flex-direction: column;

                .event-title-link {
                    margin-bottom: 1rem;
                }

                .event-terms {
                    display: flex;
                    flex-direction: column;

                    .term {
                        margin-bottom: 1rem;
                    }
                }
            }
        }


        .col-right {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .event-excerpt {
                font-family: 'PPTelegraf Ultrabold';
                width: 60%;
            }

            .btn-lire-la-suite {
                width: fit-content;
                padding-left: 20px;
                padding-right: 20px;
                margin-top: 1rem;
                font-size: 16px;
                padding-top: 3px;
                padding-bottom: 3px;
                height: fit-content;
                line-height: 1rem;

            }

            .event-actions {
                display: flex;
                justify-content: flex-end;

                .btn {
                    color: black;
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    font-size: 23px;

                    svg {
                        width: 30px;
                        height: 30px;
                        margin-right: 5px;
                    }
                }
            }
        }

        /* Styles pour le bouton favori - adapté à ton style existant */
        .favourite {
            width: 20px;
            height: 20px;
            position: absolute;
            top: 20px;
            right: 20px;
            background: none;
            border: none;
            padding: 0;
            transition: transform 0.2s ease;

            svg {
                width: 100%;
                height: 100%;
                fill: none;
                cursor: pointer;
                transition: fill 0.3s ease;
            }

            &:hover {
                transform: scale(1.1);
            }

            &.active {
                svg {
                    fill: yellow;
                }
            }

            /* État de chargement */
            &[style*="opacity: 0.6"] {
                cursor: wait;
                transform: none;
            }
        }

        /* Positionnement relatif pour le conteneur de l'événement */
        .event-item {
            position: relative;
        }
    }

}