.search {
  input[type="text"] {
    @extend %typo-h2;
    border:none; 
    border-bottom: solid 1px $black;
    width: 100%;
  }

  input[type="submit"] {
    background: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
  }

}