$width: calc(100% - 2rem);
$maxWidth: 1300px;
$maxWidth1440: calc($maxWidth*0.8);

$headerHeight: 120px;

$bgColor: #FFFBF5;
$colorTypo: #271701;

$paddingLeft: 5%;
$paddingRight: 5%;

$beige: #FFFBF5;
$beigeFonce: #f0ebe4;

$white: #fff;
$black: #000;

$yellow: #FFC107;
$green: #1F5C60;
$greenChallengeVideo: #97C93C;
$greenVibrant: #97CA3D;
$greenClear: #ECF39E;
$lightBlue: #c6e9e9;
$blue: #E1F4F5;
$blueChallengeVideo: #72CBD1;

$red: #D32F2F;
$orangeChallengeVideo: #F7951A;
$orange: #F7951A;
$orangeVibrant: #FF9800;
$orangeClear: #f3d4a6;


$blueVibrant: #1ab6f4;
$blueClear: #a1e4fe;


$darkBlue: #0D47A1;
$fontBlack: #271701;
$whiteBG: white;

$fontWhite: #FFFBF5;