body.login #login h1 a {
  background-size: contain;
  width: 300px;
}

.post-type-post .hide-on-post {
  display: none;
}

/* stylelint-disable */
body {
  background: #f1f1f1;
}

/* Links */
html .login #backtoblog a,
html .login #nav a,
html a {
  color: #105a33;
}
html .login #backtoblog a:hover, html .login #backtoblog a:active, html .login #backtoblog a:focus,
html .login #nav a:hover,
html .login #nav a:active,
html .login #nav a:focus,
html a:hover,
html a:active,
html a:focus {
  color: rgb(23.6981132075, 133.3018867925, 75.5377358491);
}
html #post-body .misc-pub-post-status:before,
html #post-body #visibility:before,
html .curtime #timestamp:before,
html #post-body .misc-pub-revisions:before,
html span.wp-media-buttons-icon:before {
  color: currentColor;
}
html .wp-core-ui .button-link {
  color: #105a33;
}
html .wp-core-ui .button-link:hover, html .wp-core-ui .button-link:active, html .wp-core-ui .button-link:focus {
  color: rgb(23.6981132075, 133.3018867925, 75.5377358491);
}
html .media-modal .delete-attachment,
html .media-modal .trash-attachment,
html .media-modal .untrash-attachment,
html .wp-core-ui .button-link-delete {
  color: #a00;
}
html .media-modal .delete-attachment:hover,
html .media-modal .trash-attachment:hover,
html .media-modal .untrash-attachment:hover,
html .media-modal .delete-attachment:focus,
html .media-modal .trash-attachment:focus,
html .media-modal .untrash-attachment:focus,
html .wp-core-ui .button-link-delete:hover,
html .wp-core-ui .button-link-delete:focus {
  color: #dc3232;
}
html {
  /* Forms */
}
html input[type=checkbox]:checked::before {
  content: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2020%2020%27%3E%3Cpath%20d%3D%27M14.83%204.89l1.34.94-5.81%208.38H9.02L5.78%209.67l1.34-1.25%202.57%202.4z%27%20fill%3D%27%237e8993%27%2F%3E%3C%2Fsvg%3E");
}
html input[type=radio]:checked::before {
  background: #7e8993;
}
html .wp-core-ui input[type=reset]:hover,
html .wp-core-ui input[type=reset]:active {
  color: rgb(23.6981132075, 133.3018867925, 75.5377358491);
}
html input[type=text]:focus,
html input[type=password]:focus,
html input[type=color]:focus,
html input[type=date]:focus,
html input[type=datetime]:focus,
html input[type=datetime-local]:focus,
html input[type=email]:focus,
html input[type=month]:focus,
html input[type=number]:focus,
html input[type=search]:focus,
html input[type=tel]:focus,
html input[type=text]:focus,
html input[type=time]:focus,
html input[type=url]:focus,
html input[type=week]:focus,
html input[type=checkbox]:focus,
html input[type=radio]:focus,
html select:focus,
html textarea:focus {
  border-color: #018354;
  box-shadow: 0 0 0 1px #018354;
}
html {
  /* Core UI */
}
html .wp-core-ui .button {
  border-color: #7e8993;
  color: #32373c;
}
html .wp-core-ui .button.hover,
html .wp-core-ui .button:hover,
html .wp-core-ui .button.focus,
html .wp-core-ui .button:focus {
  border-color: rgb(112.7848101266, 124.2721518987, 134.7151898734);
  color: rgb(38.4090909091, 42.25, 46.0909090909);
}
html .wp-core-ui .button.focus,
html .wp-core-ui .button:focus {
  border-color: #7e8993;
  color: rgb(38.4090909091, 42.25, 46.0909090909);
  box-shadow: 0 0 0 1px #32373c;
}
html .wp-core-ui .button:active {
  border-color: #7e8993;
  color: rgb(38.4090909091, 42.25, 46.0909090909);
  box-shadow: none;
}
html .wp-core-ui .button.active,
html .wp-core-ui .button.active:focus,
html .wp-core-ui .button.active:hover {
  border-color: #018354;
  color: rgb(38.4090909091, 42.25, 46.0909090909);
  box-shadow: inset 0 2px 5px -3px #018354;
}
html .wp-core-ui .button.active:focus {
  box-shadow: 0 0 0 1px #32373c;
}
html .wp-core-ui .button-primary {
  background: #018354;
  border-color: #018354;
  color: #fff;
}
html .wp-core-ui .button-primary:hover, html .wp-core-ui .button-primary:focus {
  background: rgb(1.1159090909, 146.1840909091, 93.7363636364);
  border-color: rgb(0.8840909091, 115.8159090909, 74.2636363636);
  color: #fff;
}
html .wp-core-ui .button-primary:focus {
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px #018354;
}
html .wp-core-ui .button-primary:active {
  background: rgb(0.8068181818, 105.6931818182, 67.7727272727);
  border-color: rgb(0.8068181818, 105.6931818182, 67.7727272727);
  color: #fff;
}
html .wp-core-ui .button-primary.active, html .wp-core-ui .button-primary.active:focus, html .wp-core-ui .button-primary.active:hover {
  background: #018354;
  color: #fff;
  border-color: rgb(0.4204545455, 55.0795454545, 35.3181818182);
  box-shadow: inset 0 2px 5px -3px black;
}
html .wp-core-ui .button-secondary {
  background: #105a33;
  border-color: #105a33;
  color: #fff;
}
html .wp-core-ui .button-secondary:hover, html .wp-core-ui .button-secondary:focus {
  background: rgb(18.3094339623, 102.9905660377, 58.3613207547);
  border-color: rgb(13.6905660377, 77.0094339623, 43.6386792453);
  color: #fff;
}
html .wp-core-ui .button-secondary:focus {
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px #105a33;
}
html .wp-core-ui .button-secondary:active {
  background: rgb(12.1509433962, 68.3490566038, 38.7311320755);
  border-color: rgb(12.1509433962, 68.3490566038, 38.7311320755);
  color: #fff;
}
html .wp-core-ui .button-secondary.active, html .wp-core-ui .button-secondary.active:focus, html .wp-core-ui .button-secondary.active:hover {
  background: #105a33;
  color: #fff;
  border-color: rgb(4.4528301887, 25.0471698113, 14.1933962264);
  box-shadow: inset 0 2px 5px -3px black;
}
html .wp-core-ui .button-group > .button.active {
  border-color: #018354;
}
html .wp-core-ui .wp-ui-primary {
  color: #fff;
  background-color: #105a33;
}
html .wp-core-ui .wp-ui-text-primary {
  color: #105a33;
}
html .wp-core-ui .wp-ui-highlight {
  color: #fff;
  background-color: #018354;
}
html .wp-core-ui .wp-ui-text-highlight {
  color: #018354;
}
html .wp-core-ui .wp-ui-notification {
  color: #fff;
  background-color: #FCD9D3;
}
html .wp-core-ui .wp-ui-text-notification {
  color: #FCD9D3;
}
html .wp-core-ui .wp-ui-text-icon {
  color: hsl(148.3783783784, 7%, 95%);
}
html .wrap .page-title-action,
html .wrap .page-title-action:active {
  border: 1px solid #018354;
  color: #018354;
}
html .wrap .page-title-action:hover {
  color: rgb(0.6136363636, 80.3863636364, 51.5454545455);
  border-color: rgb(0.6136363636, 80.3863636364, 51.5454545455);
}
html .wrap .page-title-action:focus {
  border-color: rgb(1.3863636364, 181.6136363636, 116.4545454545);
  color: rgb(0.2272727273, 29.7727272727, 19.0909090909);
  box-shadow: 0 0 0 1px rgb(1.3863636364, 181.6136363636, 116.4545454545);
}
html .view-switch a.current:before {
  color: #105a33;
}
html .view-switch a:hover:before {
  color: #FCD9D3;
}
html {
  /* Admin Menu */
}
html #adminmenuback,
html #adminmenuwrap,
html #adminmenu {
  background: #105a33;
}
html #adminmenu a {
  color: #fff;
}
html #adminmenu div.wp-menu-image:before {
  color: hsl(148.3783783784, 7%, 95%);
}
html #adminmenu a:hover,
html #adminmenu li.menu-top:hover,
html #adminmenu li.opensub > a.menu-top,
html #adminmenu li > a.menu-top:focus {
  color: #fff;
  background-color: #018354;
}
html #adminmenu li.menu-top:hover div.wp-menu-image:before,
html #adminmenu li.opensub > a.menu-top div.wp-menu-image:before {
  color: #fff;
}
html {
  /* Active tabs use a bottom border color that matches the page background color. */
}
html .about-wrap .nav-tab-active,
html .nav-tab-active,
html .nav-tab-active:hover {
  background-color: #f1f1f1;
  border-bottom-color: #f1f1f1;
}
html {
  /* Admin Menu: submenu */
}
html #adminmenu .wp-submenu,
html #adminmenu .wp-has-current-submenu .wp-submenu,
html #adminmenu .wp-has-current-submenu.opensub .wp-submenu,
html .folded #adminmenu .wp-has-current-submenu .wp-submenu,
html #adminmenu a.wp-has-current-submenu:focus + .wp-submenu {
  background: rgb(10.6113207547, 59.6886792453, 33.8235849057);
}
html #adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
  border-right-color: rgb(10.6113207547, 59.6886792453, 33.8235849057);
}
html #adminmenu .wp-submenu .wp-submenu-head {
  color: rgb(183.3, 205.5, 193.8);
}
html #adminmenu .wp-submenu a,
html #adminmenu .wp-has-current-submenu .wp-submenu a,
html .folded #adminmenu .wp-has-current-submenu .wp-submenu a,
html #adminmenu a.wp-has-current-submenu:focus + .wp-submenu a,
html #adminmenu .wp-has-current-submenu.opensub .wp-submenu a {
  color: rgb(183.3, 205.5, 193.8);
}
html #adminmenu .wp-submenu a:focus, html #adminmenu .wp-submenu a:hover,
html #adminmenu .wp-has-current-submenu .wp-submenu a:focus,
html #adminmenu .wp-has-current-submenu .wp-submenu a:hover,
html .folded #adminmenu .wp-has-current-submenu .wp-submenu a:focus,
html .folded #adminmenu .wp-has-current-submenu .wp-submenu a:hover,
html #adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:focus,
html #adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:hover,
html #adminmenu .wp-has-current-submenu.opensub .wp-submenu a:focus,
html #adminmenu .wp-has-current-submenu.opensub .wp-submenu a:hover {
  color: #018354;
}
html {
  /* Admin Menu: current */
}
html #adminmenu .wp-submenu li.current a,
html #adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a,
html #adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a {
  color: #fff;
}
html #adminmenu .wp-submenu li.current a:hover, html #adminmenu .wp-submenu li.current a:focus,
html #adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a:hover,
html #adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a:focus,
html #adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:hover,
html #adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:focus {
  color: #018354;
}
html ul#adminmenu a.wp-has-current-submenu:after,
html ul#adminmenu > li.current > a.current:after {
  border-right-color: #f1f1f1;
}
html #adminmenu li.current a.menu-top,
html #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
html #adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head,
html .folded #adminmenu li.current.menu-top {
  color: #fff;
  background: #018354;
}
html #adminmenu li.wp-has-current-submenu div.wp-menu-image:before,
html #adminmenu a.current:hover div.wp-menu-image:before,
html #adminmenu li.wp-has-current-submenu a:focus div.wp-menu-image:before,
html #adminmenu li.wp-has-current-submenu.opensub div.wp-menu-image:before,
html #adminmenu li:hover div.wp-menu-image:before,
html #adminmenu li a:focus div.wp-menu-image:before,
html #adminmenu li.opensub div.wp-menu-image:before {
  color: #fff;
}
html {
  /* Admin Menu: bubble */
}
html #adminmenu .awaiting-mod,
html #adminmenu .update-plugins {
  color: #fff;
  background: #FCD9D3;
}
html #adminmenu li.current a .awaiting-mod,
html #adminmenu li a.wp-has-current-submenu .update-plugins,
html #adminmenu li:hover a .awaiting-mod,
html #adminmenu li.menu-top:hover > a .update-plugins {
  color: #fff;
  background: rgb(10.6113207547, 59.6886792453, 33.8235849057);
}
html {
  /* Admin Menu: collapse button */
}
html #collapse-button {
  color: hsl(148.3783783784, 7%, 95%);
}
html #collapse-button:hover,
html #collapse-button:focus {
  color: #018354;
}
html {
  /* Admin Bar */
}
html #wpadminbar {
  color: #fff;
  background: #105a33;
}
html #wpadminbar .ab-item,
html #wpadminbar a.ab-item,
html #wpadminbar > #wp-toolbar span.ab-label,
html #wpadminbar > #wp-toolbar span.noticon {
  color: #fff;
}
html #wpadminbar .ab-icon,
html #wpadminbar .ab-icon:before,
html #wpadminbar .ab-item:before,
html #wpadminbar .ab-item:after {
  color: hsl(148.3783783784, 7%, 95%);
}
html #wpadminbar:not(.mobile) .ab-top-menu > li:hover > .ab-item,
html #wpadminbar:not(.mobile) .ab-top-menu > li > .ab-item:focus,
html #wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus,
html #wpadminbar.nojs .ab-top-menu > li.menupop:hover > .ab-item,
html #wpadminbar .ab-top-menu > li.menupop.hover > .ab-item {
  color: #018354;
  background: rgb(10.6113207547, 59.6886792453, 33.8235849057);
}
html #wpadminbar:not(.mobile) > #wp-toolbar li:hover span.ab-label,
html #wpadminbar:not(.mobile) > #wp-toolbar li.hover span.ab-label,
html #wpadminbar:not(.mobile) > #wp-toolbar a:focus span.ab-label {
  color: #018354;
}
html #wpadminbar:not(.mobile) li:hover .ab-icon:before,
html #wpadminbar:not(.mobile) li:hover .ab-item:before,
html #wpadminbar:not(.mobile) li:hover .ab-item:after,
html #wpadminbar:not(.mobile) li:hover #adminbarsearch:before {
  color: #fff;
}
html {
  /* Admin Bar: submenu */
}
html #wpadminbar .menupop .ab-sub-wrapper {
  background: rgb(10.6113207547, 59.6886792453, 33.8235849057);
}
html #wpadminbar .quicklinks .menupop ul.ab-sub-secondary,
html #wpadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu {
  background: rgb(26.3481792453, 115.3518207547, 68.4444961754);
}
html #wpadminbar .ab-submenu .ab-item,
html #wpadminbar .quicklinks .menupop ul li a,
html #wpadminbar .quicklinks .menupop.hover ul li a,
html #wpadminbar.nojs .quicklinks .menupop:hover ul li a {
  color: rgb(183.3, 205.5, 193.8);
}
html #wpadminbar .quicklinks li .blavatar,
html #wpadminbar .menupop .menupop > .ab-item:before {
  color: hsl(148.3783783784, 7%, 95%);
}
html #wpadminbar .quicklinks .menupop ul li a:hover,
html #wpadminbar .quicklinks .menupop ul li a:focus,
html #wpadminbar .quicklinks .menupop ul li a:hover strong,
html #wpadminbar .quicklinks .menupop ul li a:focus strong,
html #wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a,
html #wpadminbar .quicklinks .menupop.hover ul li a:hover,
html #wpadminbar .quicklinks .menupop.hover ul li a:focus,
html #wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover,
html #wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus,
html #wpadminbar li:hover .ab-icon:before,
html #wpadminbar li:hover .ab-item:before,
html #wpadminbar li a:focus .ab-icon:before,
html #wpadminbar li .ab-item:focus:before,
html #wpadminbar li .ab-item:focus .ab-icon:before,
html #wpadminbar li.hover .ab-icon:before,
html #wpadminbar li.hover .ab-item:before,
html #wpadminbar li:hover #adminbarsearch:before,
html #wpadminbar li #adminbarsearch.adminbar-focused:before {
  color: #018354;
}
html #wpadminbar .quicklinks li a:hover .blavatar,
html #wpadminbar .quicklinks li a:focus .blavatar,
html #wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a .blavatar,
html #wpadminbar .menupop .menupop > .ab-item:hover:before,
html #wpadminbar.mobile .quicklinks .ab-icon:before,
html #wpadminbar.mobile .quicklinks .ab-item:before {
  color: #018354;
}
html #wpadminbar.mobile .quicklinks .hover .ab-icon:before,
html #wpadminbar.mobile .quicklinks .hover .ab-item:before {
  color: hsl(148.3783783784, 7%, 95%);
}
html {
  /* Admin Bar: search */
}
html #wpadminbar #adminbarsearch:before {
  color: hsl(148.3783783784, 7%, 95%);
}
html #wpadminbar > #wp-toolbar > #wp-admin-bar-top-secondary > #wp-admin-bar-search #adminbarsearch input.adminbar-input:focus {
  color: #fff;
  background: rgb(21.3886792453, 120.3113207547, 68.1764150943);
}
html {
  /* Admin Bar: recovery mode */
}
html #wpadminbar #wp-admin-bar-recovery-mode {
  color: #fff;
  background-color: #FCD9D3;
}
html #wpadminbar #wp-admin-bar-recovery-mode .ab-item,
html #wpadminbar #wp-admin-bar-recovery-mode a.ab-item {
  color: #fff;
}
html #wpadminbar .ab-top-menu > #wp-admin-bar-recovery-mode.hover > .ab-item,
html #wpadminbar.nojq .quicklinks .ab-top-menu > #wp-admin-bar-recovery-mode > .ab-item:focus,
html #wpadminbar:not(.mobile) .ab-top-menu > #wp-admin-bar-recovery-mode:hover > .ab-item,
html #wpadminbar:not(.mobile) .ab-top-menu > #wp-admin-bar-recovery-mode > .ab-item:focus {
  color: #fff;
  background-color: rgb(226.8, 195.3, 189.9);
}
html {
  /* Admin Bar: my account */
}
html #wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar > a img {
  border-color: rgb(21.3886792453, 120.3113207547, 68.1764150943);
  background-color: rgb(21.3886792453, 120.3113207547, 68.1764150943);
}
html #wpadminbar #wp-admin-bar-user-info .display-name {
  color: #fff;
}
html #wpadminbar #wp-admin-bar-user-info a:hover .display-name {
  color: #018354;
}
html #wpadminbar #wp-admin-bar-user-info .username {
  color: rgb(183.3, 205.5, 193.8);
}
html {
  /* Pointers */
}
html .wp-pointer .wp-pointer-content h3 {
  background-color: #018354;
  border-color: rgb(0.8068181818, 105.6931818182, 67.7727272727);
}
html .wp-pointer .wp-pointer-content h3:before {
  color: #018354;
}
html .wp-pointer.wp-pointer-top .wp-pointer-arrow,
html .wp-pointer.wp-pointer-top .wp-pointer-arrow-inner,
html .wp-pointer.wp-pointer-undefined .wp-pointer-arrow,
html .wp-pointer.wp-pointer-undefined .wp-pointer-arrow-inner {
  border-bottom-color: #018354;
}
html {
  /* Media */
}
html .media-item .bar,
html .media-progress-bar div {
  background-color: #018354;
}
html .details.attachment {
  box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 7px #018354;
}
html .attachment.details .check {
  background-color: #018354;
  box-shadow: 0 0 0 1px #fff, 0 0 0 2px #018354;
}
html .media-selection .attachment.selection.details .thumbnail {
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px #018354;
}
html {
  /* Themes */
}
html .theme-browser .theme.active .theme-name,
html .theme-browser .theme.add-new-theme a:hover:after,
html .theme-browser .theme.add-new-theme a:focus:after {
  background: #018354;
}
html .theme-browser .theme.add-new-theme a:hover span:after,
html .theme-browser .theme.add-new-theme a:focus span:after {
  color: #018354;
}
html .theme-section.current,
html .theme-filter.current {
  border-bottom-color: #105a33;
}
html body.more-filters-opened .more-filters {
  color: #fff;
  background-color: #105a33;
}
html body.more-filters-opened .more-filters:before {
  color: #fff;
}
html body.more-filters-opened .more-filters:hover,
html body.more-filters-opened .more-filters:focus {
  background-color: #018354;
  color: #fff;
}
html body.more-filters-opened .more-filters:hover:before,
html body.more-filters-opened .more-filters:focus:before {
  color: #fff;
}
html {
  /* Widgets */
}
html .widgets-chooser li.widgets-chooser-selected {
  background-color: #018354;
  color: #fff;
}
html .widgets-chooser li.widgets-chooser-selected:before,
html .widgets-chooser li.widgets-chooser-selected:focus:before {
  color: #fff;
}
html {
  /* Responsive Component */
}
html div#wp-responsive-toggle a:before {
  color: hsl(148.3783783784, 7%, 95%);
}
html .wp-responsive-open div#wp-responsive-toggle a {
  border-color: transparent;
  background: #018354;
}
html .wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle a {
  background: rgb(10.6113207547, 59.6886792453, 33.8235849057);
}
html .wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle .ab-icon:before {
  color: hsl(148.3783783784, 7%, 95%);
}
html {
  /* TinyMCE */
}
html .mce-container.mce-menu .mce-menu-item:hover,
html .mce-container.mce-menu .mce-menu-item.mce-selected,
html .mce-container.mce-menu .mce-menu-item:focus,
html .mce-container.mce-menu .mce-menu-item-normal.mce-active,
html .mce-container.mce-menu .mce-menu-item-preview.mce-active {
  background: #018354;
}
html {
  /* Customizer */
}
html #customize-controls .control-section:hover > .accordion-section-title,
html #customize-controls .control-section .accordion-section-title:hover,
html #customize-controls .control-section.open .accordion-section-title,
html #customize-controls .control-section .accordion-section-title:focus {
  color: #018354;
  border-left-color: #018354;
}
html .customize-controls-close:focus,
html .customize-controls-close:hover,
html .customize-controls-preview-toggle:focus,
html .customize-controls-preview-toggle:hover {
  color: #018354;
  border-top-color: #018354;
}
html .customize-panel-back:hover,
html .customize-panel-back:focus,
html .customize-section-back:hover,
html .customize-section-back:focus {
  color: #018354;
  border-left-color: #018354;
}
html .customize-screen-options-toggle:hover,
html .customize-screen-options-toggle:active,
html .customize-screen-options-toggle:focus,
html .active-menu-screen-options .customize-screen-options-toggle,
html #customize-controls .customize-info.open.active-menu-screen-options .customize-help-toggle:hover,
html #customize-controls .customize-info.open.active-menu-screen-options .customize-help-toggle:active,
html #customize-controls .customize-info.open.active-menu-screen-options .customize-help-toggle:focus {
  color: #018354;
}
html .wp-customizer .menu-item .submitbox .submitdelete:focus,
html .customize-screen-options-toggle:focus:before,
html #customize-controls .customize-info .customize-help-toggle:focus:before,
html .wp-customizer button:focus .toggle-indicator:before,
html .menu-delete:focus,
html .menu-item-bar .item-delete:focus:before,
html #available-menu-items .item-add:focus:before {
  box-shadow: 0 0 0 1px rgb(1.3863636364, 181.6136363636, 116.4545454545), 0 0 2px 1px #018354;
}
html #customize-controls .customize-info.open .customize-help-toggle,
html #customize-controls .customize-info .customize-help-toggle:focus,
html #customize-controls .customize-info .customize-help-toggle:hover {
  color: #018354;
}
html .control-panel-themes .customize-themes-section-title:focus,
html .control-panel-themes .customize-themes-section-title:hover {
  border-left-color: #018354;
  color: #018354;
}
html .control-panel-themes .theme-section .customize-themes-section-title.selected:after {
  background: #018354;
}
html .control-panel-themes .customize-themes-section-title.selected {
  color: #018354;
}
html #customize-theme-controls .control-section:hover > .accordion-section-title:after,
html #customize-theme-controls .control-section .accordion-section-title:hover:after,
html #customize-theme-controls .control-section.open .accordion-section-title:after,
html #customize-theme-controls .control-section .accordion-section-title:focus:after,
html #customize-outer-theme-controls .control-section:hover > .accordion-section-title:after,
html #customize-outer-theme-controls .control-section .accordion-section-title:hover:after,
html #customize-outer-theme-controls .control-section.open .accordion-section-title:after,
html #customize-outer-theme-controls .control-section .accordion-section-title:focus:after {
  color: #018354;
}
html .customize-control .attachment-media-view .button-add-media:focus {
  background-color: #fbfbfc;
  border-color: #018354;
  border-style: solid;
  box-shadow: 0 0 0 1px #018354;
  outline: 2px solid transparent;
}
html .wp-full-overlay-footer .devices button:focus,
html .wp-full-overlay-footer .devices button.active:hover {
  border-bottom-color: #018354;
}
html .wp-core-ui .wp-full-overlay .collapse-sidebar:hover,
html .wp-core-ui .wp-full-overlay .collapse-sidebar:focus {
  color: #018354;
}
html .wp-full-overlay .collapse-sidebar:hover .collapse-sidebar-arrow,
html .wp-full-overlay .collapse-sidebar:focus .collapse-sidebar-arrow {
  box-shadow: 0 0 0 1px rgb(1.3863636364, 181.6136363636, 116.4545454545), 0 0 2px 1px #018354;
}
html .wp-full-overlay-footer .devices button:hover:before,
html .wp-full-overlay-footer .devices button:focus:before {
  color: #018354;
}
html #footer-thankyou {
  display: none;
}
html .acf-fc-popup ul li a .acf-fc-popup-image {
  background-repeat: no-repeat !important;
}
html .acf-fc-popup ul li a .acf-fc-popup-label {
  background-color: #105a33;
  text-shadow: none;
  border-width: 0px;
  box-shadow: none;
}
html .acf-fc-popup ul li a:hover .acf-fc-popup-label,
html .acf-fc-popup ul li a:focus .acf-fc-popup-label,
html .acf-fc-popup ul li a:active .acf-fc-popup-label {
  background-color: #018354;
}

/* stylelint-enable */

/*# sourceMappingURL=admin.css.map */
