@function rem($size) {
  $remSize: calc($size / $base-font-size);

  @return #{$remSize}rem;
}

@function cs($size) {
  $remSize: calc($size / $base-font-size);

  @return #{$remSize}rem;
}

@function vh($quantity) {

  @return calc(var(--vh, 1vh) * #{$quantity});
}

@mixin mobile {

  @media screen and (max-width: $tablet - 1px) {
    @content;
  }
}

@mixin tablet {

  @media screen and (min-width: $tablet), print {
    @content;
  }
}

@mixin tablet-only {

  @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
    @content;
  }
}

@mixin touch {

  @media screen and (max-width: $desktop - 1px) {
    @content;
  }
}

@mixin desktop {

  @media screen and (min-width: $desktop) {
    @content;
  }
}

// Screen reader
// Usage:
// @include sr-only;
@mixin sr-only($focusable: false) {
  position: absolute;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  clip-path: inset(50%) !important;
  white-space: nowrap !important;
  border: none !important;

  @if $focusable {
    &:focus,
    &:active {
      width: auto !important;
      height: auto !important;
      margin: auto !important;
      overflow: visible !important;
      clip: auto !important;
      clip-path: none !important;
      white-space: normal !important;
    }
  }
}

@mixin aspect-ratio($x, $y) {
  $padding: #{calc($y / $x) * 100 + '%'};
  padding-top: $padding;
}
