 @use '../../commons/vars' as vars;

 #filters {
     display: flex;
     z-index: 10;
     position: relative;
     display: flex;

     justify-content: space-between;
     width: 100%;
     margin: auto;
     max-width: vars.$maxWidth;
     height: 44px;
     margin-bottom: 50px;

     @media (max-width: 1440px) {
         max-width: vars.$maxWidth1440;
     }

     @media (max-width: 640px) {
         flex-direction: column;
         height: 100px;
     }

     .first-group {
         display: flex;
     }

     .filter-group {
         display: flex;
         flex-direction: column;
         overflow: hidden;
         margin-right: 30px;
         height: 42px;
         position: relative;

         &::after {
             content: '\203A'; // ›
             position: absolute;
             right: 15px;
             font-size: 27px;
             color: rgb(154, 151, 120);
             top: 0px;
             /* Par défaut, il est à droite */
             transition: transform 0.3s ease-in-out;
             /* Animation fluide */
             transform: rotate(90deg);
         }

         &:hover {

             &::after {
                 transform: rotate(270deg);
                 transition: transform 0.2s ease-in-out;
             }


         }

         button {
             align-items: center;
             justify-content: center;
             display: flex;
             cursor: pointer;
             height: 42px;
             background-color: vars.$beige;
             padding: 15px 40px 15px 20px;
             border: none;
             font-size: 17px;
             white-space: nowrap;

             &:first-child {
                 border: 1px solid black;
                 border-radius: 5px;
             }

             &:hover {
                 //  background-color: vars.$orangeClear;
             }
         }


     }

     .display-buttons {
         display: flex;
         flex-direction: column;
         overflow: hidden;
         margin-right: 30px;
         height: 42px;
         position: relative;
         width: fit-content;
         z-index: 0;

         &::after {
             content: '\203A'; // ›
             position: absolute;
             right: 15px;
             font-size: 27px;
             color: rgb(154, 151, 120);
             top: 0px;
             /* Par défaut, il est à droite */
             transition: transform 0.3s ease-in-out;
             /* Animation fluide */
             transform: rotate(90deg);
         }

         &:hover {

             &::after {
                 transform: rotate(270deg);
                 transition: transform 0.2s ease-in-out;
             }


         }


         .button {
             align-items: center;
             justify-content: center;
             display: flex;
             cursor: pointer;
             height: 42px;
             background-color: vars.$beige;
             padding: 15px 40px 15px 20px;
             font-size: 17px;

             &:first-child {
                 border: 1px solid black;
                 border-radius: 5px;
             }

             &:hover {
                 //   background-color: vars.$orangeClear;
             }
         }

         &:hover {
             overflow: inherit;
         }
     }
 }



 #filters .filter-group button.active {
     z-index: 9999;
     //   background-color: vars.$orangeClear;
 }