@use '../../commons/vars' as vars;

.video {
    min-width: 350px;
    height: 100%;
    flex-direction: column;
    border: 3px solid black;
    padding: 20px 20px 40px 20px;
    border-radius: 20px;
    position: relative;
    display: flex;
    background-color: vars.$whiteBG;


    @media (max-width: 1440px) {
        min-width: calc(350px*0.8);
    }


    &.challenge-1 {
        border: 3px solid vars.$greenChallengeVideo;
    }

    &.challenge-2 {
        border: 3px solid vars.$blueChallengeVideo;
    }

    &.challenge-3 {
        border: 3px solid vars.$orangeChallengeVideo;
    }

    &.visible {
        display: block;
    }

    .video-thumbnail {
        position: relative;
        cursor: pointer;
        margin-bottom: 10px;
        overflow: hidden;
        height: 160px;

        /*       @media (max-width: vars.$maxWidth1440) {
            height: calc(160px * 0.8);
        } */

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px;

        }
    }

    .video-thumbnail iframe {
        pointer-events: none;
        border-radius: 20px;

    }

    .video-thumbnail:hover iframe {
        pointer-events: auto;
    }


    .thumbnail-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2em;
        color: white;
        background-color: rgba(0, 0, 0, 0.8);
        width: 60px;
        height: 60px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 1440px) {
            width: calc(60px * 0.8);
            height: calc(60px * 0.8);
        }


        .play-button {
            position: absolute;
            top: 51%;
            left: 52%;
            transform: translate(-50%, -50%);
            color: #ffffff;
            font-size: 30px;
        }
    }

    h3 {
        font-size: 20px !important;

        @media (max-width: 1440px) {
            font-size: 16px !important;
            margin-bottom: 1rem;
        }
    }

    .auteurs {
        font-family: 'Helvetica';
        font-weight: 700;
        font-size: 17px;
        font-weight: 700px;


        @media (max-width: 1440px) {
            font-size: 15px;
        }
    }

    .qualite-des-auteurs {
        p {
            font-size: 16px;

            @media (max-width: 1440px) {
                font-size: 14px;
            }
        }
    }

    .taxonomies-and-terms {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1rem;


        .term {
            white-space: nowrap;
            font-size: 15px;
            margin-right: 10px;


            @media (max-width: 1440px) {
                font-size: 13px;
            }
        }

        .term-challenge {
            border-radius: 5px;
            width: fit-content;
            padding-left: 6px;
            padding-right: 6px;
        }

        .term-challenge-1 {
            background-color: vars.$greenChallengeVideo;

        }

        .term-challenge-2 {
            background-color: vars.$blueChallengeVideo;

        }

        .term-challenge-3 {
            background-color: vars.$orangeChallengeVideo;

        }
    }

    .learn-more {
        position: absolute;
        bottom: 15px;
        text-decoration: underline;
        font-size: 15px;
    }
}



.block-single-video {

    .video {
        max-width: 800px;
        margin: auto;
    }

    .video-thumbnail {
        height: 350px;
    }
}