@use './commons/vars' as vars;


// Commons
@use './commons/background';
@use './commons/menus';
@use './commons/reinit';
@use './commons/buttons';
@use './commons/font-size';
@use './commons/footer';
@use './commons/underlines';
@use './commons/nav';


// header 
@use './headers/header-home';
@use './headers/header-page-default';
@use './headers/header-challenge';
@use './headers/header-page-simple';
@use './headers/header-texte-boutons-gauche';
@use './headers/header-single-and-events';
@use './headers/header-bouton-sous-titre-surtitre-blanc-texte-vert';
@use './headers/header-single-video';

// Blocks
@use './blocks/block-publications';
@use './blocks/block-portraits-slider-manuel';
@use './blocks/block-portraits-slider-researchers';
@use './blocks/block-chiffres-cles';
@use './blocks/block-last-job-offers';
@use './blocks/block-last-news';
@use './blocks/block-last-newsletter';
@use './blocks/block-job-offers';
@use './blocks/block-texte-image-bouton';
@use './blocks/block-texte-dropdown-right';
@use './blocks/block-texte-bouton';
@use './blocks/block-texte-image-bouton-projet';
@use './blocks/block-videos-challenges';
@use './blocks/block-three-challenges';
@use './blocks/block-liste-de-cartes-simples';
@use './blocks/block-texte-image-challenges-700';
@use './blocks/block-archives';
@use './blocks/block-call-master-phd';
@use './blocks/block-all-news-or-event';
@use './blocks/block-agenda';
@use './blocks/block-videos-slider';
@use './blocks/block-timeline';
@use './blocks/block-our-former-researchers';
@use './blocks/block-texte-dropdown-bottom';
@use './blocks/block-text-center';
@use './blocks/block-text-decale-800px';


// Components
@use './blocks/component/accordeon';
@use './blocks/component/video';
@use './blocks/component/filters';
@use './blocks/component/load-more';
@use './blocks/component/card-researcher';


.interface-complementary-area__fill {
    width: 700px !important;
}

@media (max-width: 1500px) {
    .interface-complementary-area__fill {
        width: 500px !important;
    }
}

.interface-complementary-area {
    width: 100% !important;
}

body {
    background-color: #FFFBF5;
}

.editor-post-card-panel__title-name,
.interface-complementary-area h2,
.block-editor-inserter__panel-title,
.block-editor-inserter__panel-title button {
    font-size: 20px !important;
}

.edit-post-meta-boxes-area #poststuff h2.hndle {
    font-size: 25px !important;
}

.aligncenter {
    width: fit-content;
}

.components-snackbar__content {
    color: white !important;
}

p {
    a {
        position: relative;
        text-decoration: none;
        display: inline-block;
        width: fit-content;

        &::after {
            content: '';
            position: absolute;
            bottom: -1px;
            left: 0;
            height: 1px;
            width: 100%;
            background-color: currentColor;
            transition: width 0.3s ease;
            pointer-events: none;
        }

        &:hover {
            text-shadow: 0.5px 0 0 currentColor;

            &::after {
                width: 10%;
                height: 2px;
            }
        }
    }
}

.link-animated,
.current-menu-item a {
    position: relative;
    text-decoration: none;
    display: inline-block;
    width: fit-content;

    &::after {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
        height: 1px;
        width: 100%;
        background-color: currentColor;
        transition: width 0.3s ease;
        pointer-events: none;
    }

    &:hover {
        text-shadow: 0.5px 0 0 currentColor;

        &::after {
            width: 10%;
            height: 2px;
        }
    }
}

.sub-menu {
    a {
        &::after {
            display: none;
        }
    }
}

.jobs-menu.current-menu-item a {
    &::after {
        display: none;
    }
}

h2 a {
    position: relative;
    text-decoration: none;
    display: inline-block;
    width: fit-content;

    &::after {
        content: '';
        position: absolute;
        bottom: -4px;
        left: 0;
        height: 5px;
        width: 100%;
        background-color: currentColor;
        transition: width 0.3s ease;
        pointer-events: none;
    }

    &:hover {
        text-shadow: 0.5px 0 0 currentColor;

        &::after {
            width: 10%;
            height: 5px;
        }
    }
}


.no-job-offers {
    font-weight: bold;
}