@use './../commons/vars' as vars;

.block-cartes-simples {



    .block {
        position: relative;
        height: 100%;
        max-width: vars.$maxWidth;
        margin: auto;
        margin-top: 100px;
        margin-bottom: 100px;

        @media (max-width: 1440px) {
            max-width: vars.$maxWidth1440;

        }

        .cartes-container {

            display: flex;
            flex-wrap: wrap;
            gap: 10px;


            .carte {
                border: 1px solid black;
                border-radius: 20px;
                max-width: 350px;
                height: auto;
                padding: 20px;

                h1,
                h2,
                h3,
                h4,
                h5,
                h6 {
                    margin-bottom: 10px;
                }

                @media (max-width: 1440px) {
                    max-width: 300px;

                }

                @media (max-width: 640px) {
                    max-width: 100%;
                    width: 100%;

                }

                h2,
                h3,
                h4,
                h5,
                h6 {
                    font-size: 20px !important;
                }

                ul,
                li {
                    word-break: break-all;
                }
            }
        }
    }
}