@use '../commons/vars' as vars;

.block-texte-dropdown-bottom {
    .block {
        display: flex;

        max-width: vars.$maxWidth;
        width: 100%;
        margin: auto;
        flex-direction: column;


        @media (max-width: 1440px) {
            max-width: vars.$maxWidth1440;
        }

        h2 {
            font-size: 35px;
            position: relative;

            @media (max-width: 1440px) {
                font-size: calc(35px * 0.8);
            }

            .deco-title {
                position: absolute;
                width: 100px;
                height: 1px;
                background-color: black;
                left: -150px;
                top: 50%;
            }
        }

        .cols {
            display: flex;
            flex-direction: column;
            gap: 100px;
            max-width: 900px;


            @media (max-width: 1440px) {
                gap: 60px;
                max-width: calc(900px * 0.8);

            }

            @media (max-width: 1280px) {
                gap: 30px;
            }

            @media (max-width: 980px) {
                flex-direction: column;
            }

            .col-left {

                width: 100%;

                @media (max-width: 980px) {
                    width: 100%;
                }
            }

            .col-right {

                width: 100%;
                display: flex;

                @media (max-width: 980px) {
                    width: 100%;
                }

                .accordeon-container {
                    display: flex;
                    flex-direction: column;
                }
            }

        }


    }
}