@use '../commons/vars' as vars;

.block-texte-decale-800px {
    position: relative;

    .deco-bck {
        position: absolute;
        top: -191px;
        right: 0;
        z-index: 0;
        transform: rotate(180deg);
        height: 318px;
        width: auto;

    }

    .block {

        margin: auto;

        max-width: vars.$maxWidth;

        @media (max-width: 1440px) {
            max-width: vars.$maxWidth1440;
        }

        h2 {
            position: relative;

            .deco-titre {
                width: 150px;
                height: 1px;
                background-color: black;
                position: absolute;
                left: -170px;
                top: 50%;
            }
        }

        .texte {
            max-width: 800px;
            width: 100%;
        }
    }
}