@use '../commons/vars' as vars;

.block-portraits-slider {
    position: relative;

    .line-light-slide {
        position: absolute;
        bottom: 25px;
        right: 40px;
        width: 130px;
        height: auto;
        animation: slide-pulse 2s infinite;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    @keyframes slide-pulse {
        0% {
            transform: translateX(0);
        }

        80% {
            /* 0.5s sur une durée totale de 0.6s */
            transform: translateX(25px);
        }

        100% {
            transform: translateX(0);
        }
    }

    .deco-bck {
        position: absolute;
        bottom: -191px;
        left: 0;
        z-index: 0;

        height: 318px;
        width: auto;

        @media (max-width: 980px) {
            display: none;
        }

    }

    .surtitre-colore {
        font-size: 110px;
        font-weight: bold;
        right: 0;
        top: -120px;
        position: absolute;
        margin-right: 100px;


        @media (max-width: 640px) {
            margin-right: 50px;
            font-size: 50px;
            top: -55px;
        }
    }

    .block {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: auto;
        height: 550px;
        max-width: vars.$maxWidth;

        @media (max-width: 1440px) {
            max-width: vars.$maxWidth1440;
        }

        .left-title {
            width: 30%;

            .title {
                font-size: 45px;
                font-weight: 700;
                position: relative;

                @media (max-width: 1440px) {
                    font-size: calc(45px * 0.8);
                }

                .decoration-titre {
                    position: absolute;
                    width: 150px;
                    height: 1px;
                    background-color: black;
                    left: -170px;
                    top: calc(30px);
                }
            }
        }

        .slider {
            position: absolute;
            left: 30%;
            overflow: hidden;
            cursor: ew-resize;
            /* Curseur indiquant qu'on peut défiler horizontalement */

            .cards {
                display: flex;
                align-items: center;
                overflow-x: auto;
                overflow-y: hidden;
                scroll-behavior: smooth;
                -ms-overflow-style: none;
                scrollbar-width: none;
                cursor: grab;
                /* Indique que l'élément est "attrapable" */
                user-select: none;

                position: relative;


                /*               &:before {
                    content: '';
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    background-color: black;
                    z-index: 100;
                    left: 0;
                    opacity: 0.1;
                    border-top-left-radius: 20px;
                    border-bottom-left-radius: 20px;
                    transition: opacity 0.3s ease; // Ajoute la transition ici
                    pointer-events: auto;
                    visibility: visible;
                }

                &.scroll-enabled {
                    &:before {
                        transition: opacity 0.3s ease; // Ajoute la transition ici
                        opacity: 0;
                        pointer-events: none; // Empêche l’interaction
                        visibility: hidden; // Cache visuellement l’élément sans couper l’animation
                    }
                }
 */

                &::-webkit-scrollbar {
                    display: none;
                }

                .card {
                    min-height: 400px;
                    max-height: 400px;
                    min-width: 246px;
                    max-width: 246px;
                    display: flex;
                    flex-direction: column;
                    margin-right: 20px;
                    background-color: vars.$beige;
                    padding: 20px 20px 50px 20px;
                    border-radius: 15px;
                    position: relative;

                    &.active {
                        cursor: grabbing;
                        /* Change le curseur pendant le glisser */
                    }

                    &:last-child {
                        margin-right: 0;
                    }

                    h3 {
                        flex-wrap: wrap;
                        margin-bottom: 10px;
                        font-size: 18px !important;

                        a {
                            font-size: 20px;
                        }
                    }


                    .fonction {
                        font-weight: 700;
                    }

                    img,
                    iframe {
                        border-radius: 15px;
                        width: 100%;
                        height: 250px;
                        object-fit: cover;
                        overflow: hidden;
                    }

                    .socials {
                        display: flex;
                        position: absolute;
                        bottom: 10px;

                        .picto-container {
                            width: 20px;
                            height: 20px;
                            position: relative;
                            margin-right: 15px;

                            a {
                                position: absolute;
                                top: 0;
                                left: 0;
                                bottom: 0;
                                right: 0;
                                cursor: pointer;
                                z-index: 10;


                            }

                            img {
                                z-index: 0;
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                                overflow: auto;
                                border-radius: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}