@use '../commons/vars' as vars;

.block-archives-boutons {

    .block {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        width: 100%;
        margin: auto;
        max-width: vars.$maxWidth;
        flex-direction: column;
        margin-top: 150px;
        margin-bottom: 135px;

        @media (max-width: 1440px) {
            max-width: vars.$maxWidth1440;
        }

        h2 {
            margin-bottom: 25px;
        }

        .boutons {
            display: flex;
            flex-wrap: wrap;

            .bouton {
                margin-right: 30px;
                margin-bottom: 15px;
                display: flex;
            }
        }


    }
}