@use '../commons/vars' as vars;

.block-researchers-slider {
    //  background-color: vars.$yellow;
    position: relative;


    .line-light-slide {
        position: absolute;
        bottom: -25px;
        right: 40px;
        width: 130px;
        height: auto;
        animation: slide-pulse 2s infinite;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    @keyframes slide-pulse {
        0% {
            transform: translateX(0);
        }

        80% {
            /* 0.5s sur une durée totale de 0.6s */
            transform: translateX(25px);
        }

        100% {
            transform: translateX(0);
        }
    }

    .block {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: vars.$maxWidth;
        margin: auto;
        height: 400px;

        @media (max-width: 1440px) {
            max-width: vars.$maxWidth1440;
        }

        .slider {
            left: 0;
            position: absolute;
            overflow: hidden;
            cursor: ew-resize;
            /* Curseur indiquant qu'on peut défiler horizontalement */

            .cards {
                display: flex;
                align-items: center;
                overflow-x: auto;
                overflow-y: hidden;
                scroll-behavior: smooth;
                -ms-overflow-style: none;
                scrollbar-width: none;
                cursor: grab;
                /* Indique que l'élément est "attrapable" */
                user-select: none;

                &::-webkit-scrollbar {
                    display: none;
                }

                &.scroll-enabled {
                    &:before {
                        transition: opacity 0.3s ease; // Ajoute la transition ici
                        opacity: 0;
                        pointer-events: none; // Empêche l’interaction
                        visibility: hidden; // Cache visuellement l’élément sans couper l’animation
                    }
                }


                .card-researcher {
                    // le code est dans /scss/blocks/component/_card-researcher.scss
                }
            }
        }
    }
}