@use '../commons/vars' as vars;

.block-texte-center {
    .block {
        margin: auto;
        max-width: vars.$maxWidth;

        @media (max-width: 1440px) {
            max-width: vars.$maxWidth1440;
        }

        .texte {
            max-width: 700px;
            width: 100%;
            margin: auto;
        }
    }
}